* {
    margin: 0pt;
}
body {
    color: #502A83;
    margin: 12pt;
    font-size: 7pt;
    line-height: 1.3;
    font-family: "IBM Plex Sans";
    text-align: justify;
}
div {
    margin-bottom: 6pt;
}
p {
    margin-bottom: 6pt;
    orphans: 2;
    widows: 2;
}
h1, h2, h3, h4, h5, h6 {
    color: #502A83;
    font-size: 8pt;
    line-height: 1.4;
    page-break-after: avoid;
    text-align: left;
}
h1 {
    font-size: 16pt;
    font-family: Varna;
    margin-bottom: 2pt;
}
h2 {
    font-size: 10pt;
    font-family: Varna;
}
h3, h4 {
    text-transform:uppercase;
    font-size: 7pt; 
    /* line-height: 2; */
}
a:link {
    color: #502A83;
}
th, td {
    padding: 3pt;
    padding-bottom: 1pt;
    padding-top: 1pt;
    text-align: left;
    vertical-align: top;
    border-bottom: .3pt solid #502A8333;
}
th {
    border-bottom: .3pt solid #502A83;
    /* border-bottom: 1pt solid; */
}
/* tr:nth-child(even) {background: #502A83} */
/* tr:nth-child(odd) {background: #FFF} */
table {
    width: 100%;
    border: 0pt;
    border-collapse: collapse;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
figure {
    margin-bottom: 6pt;
}
ol {
    margin-left: 12pt;
    text-align: left;
}
ol {
    counter-increment: start 2;
}
ol p {
    margin-bottom: 0pt;
}
li {
    margin-bottom: 3pt;
    page-break-inside: avoid;
}
ul li {
    list-style: none;
}
::marker {
    font-family: "IBM Plex Sans Condensed";
    font-weight: 700;
    text-align: right;
    width: 3pt;
    /* color: #502A83; */
}
img {
}
.twocol {
    column-count: 2;
    column-gap: 6pt;
}
.impurpled {
    color: #502A83;
}
.named {
    color: #502A83;
        /* font-family: "IBM Plex Sans Condensed"; */
        /* color: #502A83; */
        font-style: normal;
        font-weight: 700;
}
.section {
}
@page {
    size: 5.5in 8.5in;
    /* size: A5; */
    margin: 10pt;
    margin-top: 14pt;
    margin-bottom: 24pt;
}
/* @page :left{ */
/*     @bottom-left { */
/*         font-family: Varna; */
/*         content: counter(page); */
/*         text-align: left; */
/*         color: #502A83; */
/*     } */
/* } */
/* @page :right{ */
/*     @right-bottom { */
/*         font-family: Varna; */
/*         content: counter(page); */
/*         text-align: right; */
/*         color: #502A83; */
/*     } */
/* } */
@page :first{
    /* margin: 0pt; */
    bleed: .25in;
}
#front {
    position: absolute;
    left: -2.75in;
    top: -1.25in;
}
#back {
    position: absolute;
    left: 2.75in;
    top: -1.155in;
}
#gothic {
    font-family: Varna;
    font-size: 8pt;
    line-height: 1.3;
    margin: 38pt;
    /* margin-right: 48pt; */
    /* margin-left: 48pt; */
    margin-top: 45pt;
    page-break-after: always;
    page-break-before: always;
}
#gothic p {
    margin-bottom: 4pt;
    /* display: inline; */
}
#gothic h1 {
    /* color: #502A83; */
    text-align: center;
}
#backtext {
font-family: Varna;
font-size: 12pt;
line-height: 1.3;
margin: 38pt;
/* margin-right: 48pt; */
/* margin-left: 48pt; */
 }
.blank {
    /* page-break-before: always; */
    page-break-after: always;
}
#fangs {
    width: 6.5in;
    left: -.4in;
    top: .35in;
    position: absolute;
}
#fangsdiv {
    /* border: 1px dotted cyan; */
    height: 1in;
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#contents {
    font-family: Varna;
    /* page-break-before: always; */
    /* page-break-after: always; */
}
#mapscan {
    width: 5.6in;
    left: -.3in;
    top: 0in;
    position: absolute;
}
#mapscandiv {
    /* border: 1px dotted cyan; */
    height: 1in;
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#ratdiv {
    /* border: 1px dotted cyan; */
    height: 1in;
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#rat {
    width: 90%;
    height: auto;
    left: -1.5in;
    top: -1.8in;
    position: absolute;
}
#ratsplat {
    left: -2.6in;
    top: -2in;
    position: absolute;
}
#ratsplat2 {
    left: -7.9in;
    top: 1.60in;
    position: absolute;
}
#propername {
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#skull_island {
    position: absolute;
    height: 2.0in;
    width: auto;
    left: 1.10in;
    top: .2in;
}
.imagediv {
    position: relative;
    page-break-before: avoid;
    background-color: pink;
}
#howler {
    position: absolute;
    height: 2.6in;
    width: auto;
    left: 2.9in;
    top: 0.0in;
}
#displacer {
    position: absolute;
    height: 8in;
    width: auto;
    left: .9in;
    top: 3.5in;
}
#backsplat {
    left: -2in;
    top: 4in;
    position: absolute;
}
#homes {
    position: absolute;
    width: 4.4in;
    height: auto;
    left: 0.2in;
    top: -.15in;
}
div .beastcaption {
    position: absolute;
    color: white;
    padding: 8pt;
    background: #502A83;
    font-size: 80%;
}
div .beastheadline {
    font-family: Varna;
    font-size: 12pt;
    position: absolute;
    color: white;
    padding: 8pt;
    background: #502A83;
}
.pagebefore {
    page-break-before: always;
}
.dots-1 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); 
    background-repeat: repeat;
    border: 1pt;
    height: 2in;
    text-align: center;
    color: pink;
}
